body, body * {
    font-family: Arial, sans-serif;
}

#titleScore {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
}

p {
    margin: 10px 10px 10px 10px;
}

#buttonsRPS, #score, #result {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

button {
    font-size: 20px;
    margin: 10px 10px 10px 10px;
}

