body, body * {
    font-family: Arial, sans-serif;
}

#titleScore {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
}

p {
    margin: 10px 10px 10px 10px;
}

#buttonsRPS {
    display: block;
}

#playAgain {
    display: none;
}

#score, #result{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    white-space: pre-line;
}

#container {
    position: absolute;
}

button {
    display: inline-block;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

button[id='again'] {
    margin-top: 50px;
}